// About Section
section#about.wrapper.style1.before-map
  .inner
    .content
      h2.major About
      .row
        div(class='6u 12u(small) 12u(xsmall)')
          h3 Hackathon
          p
            | We hosted the third installment of our Student Hackathon in the University of Sheffield, open to students across the country last October! We provided the WiFi, power, and food while teams of hackers created something new and exciting.
          h4 Venue
          p
            | Last year, we took over 38 Mappin Street - a newly reopened building nearby The Diamond with a much bigger capacity.
          a.special.smooth(href='#faq') Frequently Asked Questions
        div(class='6u 12u(small) 12u(xsmall)')
          h3 Society
          p
            | As a team of 14, we organise HackSheffield. The society was founded in January 2016. Since then, we've held many events and look forward to organising further events within the university. We'd love to welcome you to our society, and maybe you could get involved!
          a.special(href='https://su.sheffield.ac.uk/groups/hacksheffield/join', target='_blank') Join The Society
