// About Section
section#about.wrapper.style1.before-map
  .inner
    .content
      h2.major About
      .row
        div(class='6u 12u(small) 12u(xsmall)')
          h3 Hackathon
          p
            | We're hosting the third installment of our Student Hackathon in the University of Sheffield, open to students across the country! We provide the WiFi, power, and food while teams of hackers create something new and exciting.
          h4 Venue
          p
            | This year, we're moving into a new home to cope with our new capacity. 38 Mappin Street is a newly reopened building nearby the Diamond with a much bigger capacity.
          a.special.smooth(href='#faq') Frequently Asked Questions
        div(class='6u 12u(small) 12u(xsmall)')
          h3 Society
          p
            | As a team of 8, we organise HackSheffield. The society was founded in January 2016. Since then, we've held many events and look forward to organising further events within the university. We'd love to welcome you to our society, and maybe you could get involved!
          a.special(href='https://su.sheffield.ac.uk/groups/hacksheffield/join', target='_blank') Join The Society
