// Countdown Section
section#countdown.wrapper.spotlight.style2.alt.special
  .inner
    .content
      div.row
        div(class='3u')
          div#days.countdown
          div.time days
        div(class='3u')
          div#hours.countdown
          div.time hours
        div(class='3u')
          div#minutes.countdown
          div.time minutes
        div(class='3u')
          div#seconds.countdown
          div.time seconds
