// FAQ Section
section#faq.wrapper.style4.alt
  .inner
    .content
      h2.major Frequently Asked Questions
      section.row
        article(class='4u(large) 4u(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
          h3 What is HackSheffield?
          p
            | It's a hackathon in the University of Sheffield, open to students around the world! We provide WiFi, power, and food while you and your team create something new.
        article(class='4u(large) 4u(xlarge) 6u$(medium) 6u$(small) 12u(xsmall)')
          h3 What's a 'hackathon'?
          p
            | A hackathon is a programming marathon, where teams of 2-4 put their ideas together to create something exciting in only 24 hours. It gives teams of hackers a chance to turn their ideas into reality.
        article(class='4u$(large) 4u$(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
          h3 Can I attend?
          p
            | To attend as a hacker, you need to be a university student or have left university in the past year. Apologies, but we are unable to accept under 18s.
        article(class='4u(large) 4u(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
          h3 What about sleep?
          p
            | If you want to sleep, we have rooms available where you can catch some Z's.
        article(class='4u(large) 4u(xlarge) 6u$(medium) 6u$(small) 12u(xsmall)')
          h3 What do I need to bring?
          p
            | Your ticket, student ID, toiletries and a laptop with its charger. That's about it!
        //- article(class='4u$(large) 4u$(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
        //-   h3 How do I register?
        //-   p
        //-     | We release tickets in batches. Check the register section above for more information!
        article(class='4u$(large) 4u$(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
          h3 When's the next one?
          p
            | We have previously held our hackathons anually in October. Keep an eye out on social media for updates!
        article(class='4u(large) 4u(xlarge) 6u$(medium) 6u$(small) 12u(xsmall)')
          h3 Code of conduct?
          p
            | We follow the
            a(target='_blank', href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf', rel='noopener noreferrer')  MLH Code of Conduct
            | .
      a.special(href='mailto:team@hacksheffield.co') Unanswered questions? E-mail us!
