// FAQ Section
section#faq.wrapper.style4.alt
  .inner
    .content
      h2.major Frequently Asked Questions
      section.row
        article(class='4u(large) 4u(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
          h3 What is HackSheffield?
          p
            | It's a Hackathon in the University of Sheffield, open to students around the world! We provide WiFi, power, and food while you and your team create something new.
        article(class='4u(large) 4u(xlarge) 6u$(medium) 6u$(small) 12u(xsmall)')
          h3 What's a 'Hackathon'?
          p
            | A Hackathon is a programming marathon, where teams of 2-4 put their ideas together to create something exciting in only 24 hours. It gives teams of hackers a chance to turn their ideas into reality.
        article(class='4u$(large) 4u$(xlarge) 6u(medium) 6u(small) 12u(xsmall)')
          h3 Can I attend?
          p
            | To attend as a hacker, you need to be a university student or have left university in the past year. Apologies, but we are unable to accept under 18s.
        article(class='-2u(xlarge) 4u(xlarge) -0u -2u(large) 4u(large) 6u$(medium) 6u$(small) 12u(xsmall)')
          h3 When is the next one?
          p Not in the 2017/18 academic year. We'll see about Autumn 2018!
        article(class='4u(large) 4u(xlarge) 6u(medium) 6u$(small) 12u(xsmall)')
          h3 Code of conduct?
          p
            | We follow the
            a(target='_blank', href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf')  MLH Code of Conduct
            | .
      a.special(href='mailto:team@hacksheffield.co') Unanswered questions? E-mail us!
