// Register Section
section#register.wrapper.spotlight.style2.after-map.alt
  .inner
    .content
      h2.major Register
      .row
        div(class='6u 12u(xsmall)')
          h3 Ticket Information
          p
            | Our hackathons are free to enter! If you're over 18, and you're a student or have graduated in the past 12 months, you are welcome to attend! More information will be released soon.
          a.button(href='https://www.eventbrite.co.uk/e/hacksheffield-40-mlh-tickets-50687581922', target='_blank', rel='noopener noreferrer', style='margin-bottom: 36px;') eventbrite page
        div(class='6u 12u(xsmall)')
          h3 Ticket Rounds
          .table-wrapper
            table
              thead
                tr
                  th Tickets
                  th Date
                  th Link
              tbody
                tr
                  td Round 1
                  td
                    | 18:45, Thur
                    span.not-medium sday
                    |  27th Sept
                    span.not-large ember
                    span.not-xlarge  2018
                  td
                    em Sold Out
                tr
                  td Round 2
                  td
                    | 20:00, Tues
                    span.not-medium day
                    |  2nd Oct
                    span.not-large ober
                    span.not-xlarge  2018
                  td
                    em Sold Out
                tr
                  td Round 3
                  td
                    | 16:00, Sun
                    span.not-medium day
                    |  7th Oct
                    span.not-large ober
                    span.not-xlarge  2018
                  td
                    em Sold Out
