// Register Section
section#register.wrapper.spotlight.style2.after-map.alt
  .inner
    .content
      h2.major Register
      .row
        div(class='6u 12u(xsmall)')
          h3 Ticket Information
          p
            em Round 4 will be our final round.
            br
            | Our hackathons are free to enter! If you're over 18, and you're a student or have graduated in the past 12 months, you are welcome to attend! More information will be released soon.
        div(class='6u 12u(xsmall)')
          h3 Ticket Rounds
          .table-wrapper
            table
              thead
                tr
                  th Tickets
                  th Date
                  th Link
              tbody
                tr
                  td Round 1
                  td
                    | 19:00, Wed
                    span.not-medium nesday
                    |  13th Sept
                    span.not-large ember
                    span.not-xlarge  2017
                  td
                    em Sold Out
                tr
                  td Round 2
                  td
                    | 17:00, Sun
                    span.not-medium day
                    |  17th Sept
                    span.not-large ember
                    span.not-xlarge  2017
                  td
                    em Sold Out
                tr
                  td Round 3
                  td
                    | 19:00, Tue
                    span.not-medium sday
                    |  26th Sept
                    span.not-large ember
                    span.not-xlarge  2017
                  td
                    em Sold Out
                tr
                  td Round 4
                  td
                    | 17:00, Wed#[span.not-medium nesday] 4th Oct#[span.not-large ober] #[span.not-xlarge 2017]
                  td
                    em Sold Out
