// Schedule Section
section#schedule.wrapper.style3
  div.inner
    div.content
      h2.major Schedule
      div.row
        div(class='6u 12u(small) 12u(xsmall)')
          h3 Day 1: Sat 14th October 2017
          div.table-wrapper
            table
              thead
                tr
                  th Time
                  th Activity
                  th Where
              tbod
                tr
                  td 09:00
                  td Registration
                  td Ground Floor, 38 Mappin St.
                tr
                  td 09:00
                  td Team Forming
                  td 1st Floor, 38 Mappin St.
                tr
                  td 11:00
                  td Opening Ceremony
                  td LT01, The Diamond
                tr
                  td 12:30</td>
                  td #[strong Hacking Begins]
                  td 1st Floor, 38 Mappin St.
                tr
                  td 12:30
                  td Lunch
                  td 1st Floor, 38 Mappin St.
                tr
                  td 15:00
                  td GitHub Workshop
                  td Ground Floor, 38 Mappin St.
                tr
                  td 18:00
                  td Dinner
                  td 1st Floor, 38 Mappin St.
                tr
                  td 19:00
                  td Capture the Flag
                  td Ground Floor, 38 Mappin St.
                tr
                  td 21:00
                  td Cup Stacking Challenge
                  td TBC
                tr
                  td 23:00
                  td Late Night Meal
                  td 1st Floor, 38 Mappin St.
        div(class='6u 12u(small) 12u(xsmall)')
          h3 Day 2: Sun 15th October 2017
          div.table-wrapper
            table
              thead
                tr
                  th Time
                  th Activity
                  th Where
              tbody
                tr
                  td 07:30
                  td Breakfast
                  td 1st Floor, 38 Mappin St.
                tr
                  td 12:15
                  td #[strong Hacking Ends]
                  td 1st Floor, 38 Mappin St.
                tr
                  td 12:15
                  td Lunch
                  td 1st Floor, 38 Mappin St.
                tr
                  td 13:00
                  td Hack 'Science Fair'
                  td 1st Floor, 38 Mappin St.
                tr
                  td 15:00
                  td Closing Ceremony
                  td LT01, The Diamond
