style.
  #sponsor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

// Sponsor Section
section#sponsor.wrapper.style-invert
  .inner
    .content
      h2.major Partners
      .row
        div(class='8u 12u(small)')
          a.image-link(href='https://www.epigenesys.org.uk', target='_blank', rel='noopener noreferrer')
            img.fit(src='images/logos/partners/epigenesys/color.png', alt='epiGenesys Logo')
        div(class='4u 6u(small)')
          a.image-link(href='https://sheffield.ac.uk', target='_blank', rel='noopener noreferrer')
            img.fit(src='images/logos/partners/uos/high-res.jpg', alt='University of Sheffield Logo')
        div(class='3u 6u(small)')
          a.image-link(href='https://mlh.io', target='_blank', rel='noopener noreferrer')
            img.fit(src='images/logos/partners/mlh/colour.svg', alt='Major League Hacking Logo')
        div(class='5u 12u(small)')
          a.image-link(href='http://hackp.ac/mlh-stickermule-hackathons', target='_blank', rel='noopener noreferrer')
            img.fit(src='images/logos/partners/sticker-mule/sticker-mule-logo-light-bg.svg', alt='Sticker Mule Logo')
        div(class='4u 12u(small)', style="margin-top: 36px;")
          a.image-link(href='https://www.digitalocean.com/', target='_blank', rel='noopener noreferrer')
            img.fit(src='images/logos/partners/digital-ocean/DO_Logo_horizontal_blue.svg', alt='DigitalOcean Logo')
      br
      a.special(href='mailto:sponsor@hacksheffield.co') Interesting in sponsoring our events? E-mail us!
