style.
  #sponsor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

// Sponsor Section
section#sponsor.wrapper.style-invert
  .inner
    .content
      h2.major Sponsors
      h3 Tera
      .row
        div(class='6u 8u$(small) -2u(small)')
          a.image-link(href='https://www.skybet.com/', target='_blank')
            img.fit(src='images/logos/sponsors/skybet/colour.png', alt='Sky Betting and Gaming Logo')

      h3 Giga
      .row
        div(class='4u 6u(small)')
          a.image-link(href='https://www.ask4.com', target='_blank')
            img.fit(src='images/logos/sponsors/ask4/colour.png', alt='Ask4 Logo')
        div(class='4u 6u(small)')
          a.image-link(href='https://www.skyscanner.net', target='_blank')
            img.fit(src='images/logos/sponsors/skyscanner/color.png', alt='Skyscanner Logo')
        div(class='4u 6u(small)')
          a.image-link(href='http://www.capitalone.co.uk', target='_blank')
            img.fit(src='images/logos/sponsors/capital-one/colour.svg', alt='Capital One Logo')
        div(class='4u 6u(small)')
          a.image-link(href='http://www.chersoft.co.uk', target='_blank')
            img.fit(src='images/logos/sponsors/chersoft/color.png', alt='Chersoft Logo')
        div(class='4u 6u(small)')
          a.image-link(href='https://github.com', target='_blank')
            img.fit(src='images/logos/sponsors/github/mono.png', alt='GitHub Logo')

      h3 Kilo
      .row
        div(class='2u 4u(small)')
          a.image-link(href='http://get.tech', target='_blank')
            img.fit(src='images/logos/sponsors/techdomains/color.png', alt='.TECH Logo')

      hr
      a.special(href='mailto:sponsor@hacksheffield.co') Become a sponsor! E-mail us.
      h2.major Partners
      .row
        div(class='4u -2u')
          img.fit(src='images/logos/partners/mlh/colour.svg', alt='Major League Hacking Logo')
        div(class='4u')
          img.fit(src='images/logos/partners/uos/colour.png', alt='University of Sheffield Logo')
