style.
  #sponsor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

// Sponsor Section
section#sponsor.wrapper.style-invert
  .inner
    .content
      h2.major Partners
      .row
        div(class='4u 12u(small)')
          img.fit(src='images/logos/partners/mlh/colour.svg', alt='Major League Hacking Logo')
        div(class='4u 12u(small)')
          img.fit(src='images/logos/partners/uos/colour.png', alt='University of Sheffield Logo')
        div(class='4u 12u(small)')
          a.image-link(href='https://www.epigenesys.org.uk/', target='_blank')
            img.fit(src='images/logos/partners/epigenesys/color.png', alt='epiGenesys Logo')

      br

      a.special(href='mailto:sponsor@hacksheffield.co') Interesting in sponsoring our events? E-mail us!
