// Team Section
section#team.wrapper.style1.alt
  .inner
    h2.major The HackSheffield Team
    section.special
      .row
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/borja.jpg', alt='Image of Borja')
          h3.major Borja Leyva
          span President
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:borja@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-globe(href='http://leyvaborja.com')
                span.label Website
            li
              a.icon.fa-github(href='https://github.com/P3rzival', target='_blank')
                span.label Github
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/sanzi.jpg', alt='Image of Sanziana')
          h3.major Sanziana Chiorescu
          span Secretary
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:sanziana@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-twitter(href='https://twitter.com/SanzianaCh', target='_blank')
                span.label Twitter
            li
              a.icon.fa-github(href='https://github.com/SanzianaCh', target='_blank')
                span.label Github
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/danny.jpg', alt='Image of Danny')
          h3.major Danny Jones
          span Media and Publicity Officer
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:danny@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-globe(href='http://www.danielcarl.info')
                span.label Website
            li
              a.icon.fa-twitter(href='https://twitter.com/_dannycjones', target='_blank')
                span.label Twitter
            li
              a.icon.fa-github(href='https://github.com/dannycjones', target='_blank')
                span.label GitHub
            li
              a.icon.fa-linkedin(href='https://www.linkedin.com/in/danielcarljones/', target='_blank')
                span.label LinkedIn
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/luana.jpg', alt='Image of Luana')
          h3.major Luana Riebel
          span Sponsorship Officer
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:luana@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-github(href='https://github.com/LLRiebel', target='_blank')
                span.label Github
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/will.jpg', alt='Image of Will')
          h3.major Will Humphreys
          span Inclusion Officer
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:will@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-twitter(href='https://twitter.com/wispeh_', target='_blank')
                span.label Twitter
            li
              a.icon.fa-github(href='https://github.com/TheWispy', target='_blank')
                span.label Github
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/rob.jpg', alt='Image of Rob')
          h3.major Rob Ede
          span Media and Publicity Officer
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:rob@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-twitter(href='https://twitter.com/robjtede', target='_blank')
                span.label Twitter
            li
              a.icon.fa-github(href='https://github.com/robjtede', target='_blank')
                span.label Github
        article(class='4u 12u(xsmall)')
          img.image.fit(src='images/team/greg.jpg', alt='Image of Greg')
          h3.major Greg Ives
          span Social Secretary
          ul.icons
            li
              a.icon.fa-envelope(href='mailto:greg@hacksheffield.co')
                span.label E-mail
            li
              a.icon.fa-github(href='https://github.com/gregives', target='_blank')
                span.label Github
        article(class='4u 12u(xsmall)')
          img.image.fit(src='http://www.gravatar.com/avatar/5141ef9607755afb44434faed0aa9731.jpg?s=512', alt="Image of Matt")
          h3.major Matt Burman
          span Organiser
          ul.icons
            li
              a(href='mailto:matt@hacksheffield.co').icon.fa-envelope
                span.label E-mail
            li
              a.icon.fa-globe(href='http://www.mattburman.com')
                span.label Website
            li
              a.icon.fa-twitter(href='https://twitter.com/_mattburman', target='_blank')
                span.label Twitter
            li
              a.icon.fa-github(href='https://github.com/mattburman', target='_blank')
                span.label GitHub
            li
              a.icon.fa-linkedin(href='https://www.linkedin.com/in/mattburman/', target='_blank')
                span.label LinkedIn
        article(class='4u 12u(xsmall)')
          img.image.fit(src='http://www.gravatar.com/avatar/0515708982ba7bf7617a3b98e4da532c.jpg?s=512', alt="Image of Chris")
          h3.major Christopher McIntyre
          span Organiser
          ul.icons
            li
              a(href='mailto:chris@hacksheffield.co').icon.fa-envelope
                span.label E-mail
            li
              a.icon.fa-globe(href='http://www.cgmcintyre.com')
                span.label Website
            li
              a.icon.fa-twitter(href='https://twitter.com/cgmcintyr', target='_blank')
                span.label Twitter
            li
              a.icon.fa-github(href='https://github.com/cgmcintyr', target='_blank')
                span.label GitHub
            li
              a.icon.fa-linkedin(href='https://www.linkedin.com/in/cgmcintyre/', target='_blank')
                span.label LinkedIn
