// Banner
section#banner
  video.fullscreen(autoplay='', loop='', muted='')
    source(src='https://drive.google.com/uc?export=download&id=0Byaz8mKtbmG6cjJCS1RtNXdwN3c', type='video/webm')
  .inner
    h2.logo
      img.fit(src='images/logos/hacksheffield/white.svg', alt='HackSheffield Hackathon')
    p(style='font-size: 140%;')
      strong
        | 14
        sup th
        | -15
        sup th
        |  October 2017
    p
      a.button.special(href='http://hs3.devpost.com/', target='_blank') See this year's hacks!
    p(style='opacity:40%; font-size: 50%;')
      | Video Credit:
      a(href='https://www.sortoffilms.co.uk/', target='_blank') Sort Of Films
