// Footer
footer#footer.wrapper.style1
  .inner
    h2.major Stay in touch!
    ul.actions.fit
      li
        a.button.special.fit(target='_blank', href='https://twitter.com/HackSheffield', rel='noopener noreferrer')
          i.fa.fa-lg.fa-twitter
          |
          |
          span.not-xsmall
            span.not-small.not-medium Follow Us on
            |
            | Twitter
      li
        a.button.special.fit(target='_blank', href='https://www.facebook.com/HackSheffield', rel='noopener noreferrer')
          i.fa.fa-lg.fa-facebook
          |
          |
          span.not-xsmall
            span.not-small.not-medium Like Us on
            |
            | Facebook
      li
        a.button.special.fit(target='_blank', href='/slack', rel='noopener noreferrer')
          i.fa.fa-lg.fa-slack
          |
          |
          span.not-xsmall
            span.not-small.not-medium Join Us on
            |
            | Slack

    ul.actions.fit
      li
        a.button.special.fit(href='mailto:team@hacksheffield.co')
          i.fa.fa-lg.fa-envelope
          |
          |
          span.not-xsmall
            span.not-small.not-medium Contact Us by
            |
            | Email
      li
        a.button.special.fit(target='_blank', href='https://medium.com/HackSheffield', rel='noopener noreferrer')
          i.fa.fa-lg.fa-medium
          |
          |
          span.not-xsmall
            span.not-small.not-medium Read articles on
            |
            | Medium
      li
        a.button.special.fit(target='_blank', href='http://eepurl.com/cg5OjD', rel='noopener noreferrer')
          i.fa.fa-lg.fa-inbox
          |
          |
          span.not-xsmall
            span.not-small.not-medium Join our
            |
            | Mailing List

    p(style='text-align: center;')
      strong Get involved today!

    ul.copyright
      li © HackSheffield #{(new Date()).getFullYear()}. All rights reserved.
      li
        | Theme adapted from:
        |
        a(href='https://html5up.net/solid-state', target='_blank', rel="noopener noreferrer") Solid State
