// Header
header#header.alt
  h1
    a.smooth(href='#banner') HackSheffield
  nav
    a.only-medium(href='#menu') Menu
    a.smooth.not-xsmall.not-small.not-medium(href='#about') About
    a.smooth.not-xsmall.not-small.not-medium(href='#team') Team
    a.smooth.not-xsmall.not-small.not-medium(href='#sponsor') Sponsors
    a.smooth.not-xsmall.not-small.not-medium(href='#faq') FAQ
    a.smooth.not-xsmall.not-small.not-medium(href='#footer') Contact
    a#mlh-badge-spacer.not-xsmall.not-small.not-medium

// Menu
nav#menu
  .inner
    h2 Menu
    ul.links
      li
        a.smooth(href='#about') About
      li
        a.smooth(href='#team') Team
      li
        a.smooth(href='#sponsor') Sponsors
      li
        a.smooth(href='#faq') FAQ
      li
        a.smooth(href='#footer') Contact
    a.close(href='#') Close
