meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
//if lte IE 8
  script(src='/scripts/ie/html5shiv.js')
link(rel='stylesheet', href='/styles/main.css')
link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
//if lte IE 9
  link(rel='stylesheet', href='/styles/ie9.css')
//if lte IE 8
  link(rel='stylesheet', href='/styles/ie8.css')
meta(name='description', content="Sheffield's Major League Hacking hackathon in the University of Sheffield, open to students across the country!")
meta(name='author', content='HackSheffield')

// Open Graph
meta(property='og:url', content='https://hack.shef.ac.uk')
meta(property='og:title', content='HackSheffield')
meta(property='og:description', content="Sheffield's Major League Hacking hackathon in the University of Sheffield, open to students across the country!")
meta(property='og:image', content='https://hack.shef.ac.uk/images/share_image_20160804.jpg')

// Twitter Cards
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@HackSheffield')
meta(name='twitter:title', content='HackSheffield')
meta(name='twitter:description', content="Sheffield's Major League Hacking hackathon in the University of Sheffield, open to students across the country!")
meta(name='twitter:image', content='https://hack.shef.ac.uk/images/share_image_20160804.jpg')
