// Scripts
script(src='/scripts/skel.min.js')
script(src='/scripts/skel-layout.min.js')
script(src='/scripts/jquery.min.js')
script(src='/scripts/jquery.scrollex.min.js')
script(src='/scripts/util.js')
//if lte IE 8
  script(src='/scripts/ie/respond.min.js')
script(src='/scripts/main.js')
script(src='/scripts/google-analytics.js')
script(src='/scripts/google-map.js')
script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyBiO0BmcVW7u1GByrt3ZsYVpdu-TYlPZq8&libraries=places&callback=initMap', async='', defer='')

// Schema
script(type='application/ld+json').
  {
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "HackSheffield 3.0",
  "description": "Sheffield's third MLH hackathon in the University of Sheffield, open to students across the country!",
  "offers": [],
  "startDate": "2017-10-14T08:00Z",
  "endDate": "2017-10-15T16:00Z",
  "url": "https://hack.shef.ac.uk/"
  }

// Matomo
script.
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.hacksheffield.co/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
